
<!-- build:menu-style -->
<link rel="stylesheet" href="assets/css/menu-style.css">
<!-- /build:menu-style -->

<!-- build:menu -->
    <div class="menu">
        <ul>
            <li>
                <img src="assets/image/menu-icon.png" alt="icon">
            </li>
            <li class="item"><a href="#">Star</a></li>
            <li class="item"><a href="#">TVShow</a></li>
            <li class="item"><a href="#">Ciné</a></li>
            <li class="item"><a href="#">Musik</a></li>
            <li class="item"><a href="#">Fashion</a></li>
            <li class="item"><a href="#">Đời sống</a></li>
            <li class="item"><a href="#">Ăn cả thế giới</a></li>
            <li class="item"><a href="#">Xã hội</a></li>
            <li class="item"><a href="#">Thế giới</a></li>
            <li class="item"><a href="#">Sport</a></li>
            <li class="item"><a href="#">Học đường</a></li>
            <li class="item"><a href="#">Video</a></li>
            <li class="item-v" style="font-weight: 900;"><a href="#">...</a></li>
        </ul>
    </div>
<!-- /build:menu -->
<!-- build:menu1-style -->
    <link rel="stylesheet" href="assets/css/menu1-style.css">
<!-- /build:menu1-style -->

<!-- build:menu1 -->
    <div class="menu">
        <ul>
            <li>
                <img src="assets/image/menu1-icon.png" alt="icon">
            </li>
            <li class="item"><a href="#">Star</a></li>
            <li class="item"><a href="#">TVShow</a></li>
            <li class="item"><a href="#">Ciné</a></li>
            <li class="item"><a href="#">Musik</a></li>
            <li class="item"><a href="#">Fashion</a></li>
            <li class="item"><a href="#">Đời sống</a></li>
            <li class="item"><a href="#">Ăn cả thế giới</a></li>
            <li class="item"><a href="#">Xã hội</a></li>
            <li class="item"><a href="#">Thế giới</a></li>
            <li class="item"><a href="#">Sport</a></li>
            <li class="item"><a href="#">Học đường</a></li>
            <li class="item"><a href="#">Video</a></li>
            <li class="item-v" style="font-weight: 900;"><a href="#">. . .</a></li>
        </ul>
    </div>
<!-- /build:menu1 -->
<!-- build:menu3-style -->
    <link rel="stylesheet" href="assets/css/menu3-style.css">
<!-- /build:menu3-style -->

<!-- build:menu3 -->
    <div class="menu-list">
        <div class="list">
            <ul>
                <li> <a id="home" href="#"><i class="fas fa-home" style="font-size: 17px;"></i></a></li>
                <li> <a href="#">Video</a></li>
                <li> <a href="#">Sự kiện</a></li>
                <li> <a href="#">Xã hội</a></li>
                <li> <a href="#">Thế giới</a></li>
                <li> <a href="#">Thể thao</a></li>
                <li> <a href="#">Giáo dục</a></li>
                <li> <a href="#">Nhân ái</a></li>
                <li> <a href="#">Kinh doanh</a></li>
                <li> <a href="#">Văn hóa</a></li>
                <li> <a href="#">Giải trí</a></li>
                <li> <a href="#">Du lịch</a></li>
                <li> <a href="#">Pháp luật</a></li>
                <li> <a href="#">Nhịp sống trẻ</a></li>
                <li> <a href="#">Sức khỏe</a></li>
                <li> <a href="#">Sức mạnh số</a></li>
                <li> <a href="#">Xe++</a></li>
                <li> <a href="#">Tình yêu</a></li>
                <li> <a href="#">Chuyện lạ</a></li>
            </ul>
        </div>
    </div>
<!-- /build:menu3 -->
<!-- build:news-category-style -->
<link rel="stylesheet" href="assets/css/news-category-style.css">
<!-- /build:news-category-style -->


<!-- build:news-category-->
    <div class="header">
        <h1 class="title">
            TIN CÙNG CHUYÊN MỤC
        </h1>

        <label for="lable-date">Xem theo ngày</label>
        <select name="day" id="day">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
            <option value="">8</option>
            <option value="">9</option>
            <option value="">10</option>
            <option value="">11</option>
            <option value="">12</option>
            <option value="">13</option>
            <option value="">14</option>
            <option value="">15</option>
            <option value="">16</option>
            <option value="">17</option>
            <option value="">18</option>
            <option value="">19</option>
            <option value="">20</option>
            <option value="">21</option>
            <option value="">22</option>
            <option value="">23</option>
            <option value="">24</option>
            <option value="">25</option>
            <option value="">26</option>
            <option value="">27</option>
            <option value="">28</option>
            <option value="">29</option>
            <option value="">30</option>
            <option value="">31</option>
        </select>
        <select name="month" id="month">
            <option value="">Tháng 1</option>
            <option value="">Tháng 2</option>
            <option value="">Tháng 3</option>
            <option value="">Tháng 4</option>
            <option value="">Tháng </option>
            <option value="">Tháng 5</option>
            <option value="">Tháng 6</option>
            <option value="">Tháng 7</option>
            <option value="">Tháng 8</option>
            <option value="">Tháng 9</option>
            <option value="">Tháng 10</option>
            <option value="">Tháng 11</option>
            <option value="">Tháng 12</option>
        </select>
        <select name="year" id="year">
            <option value="">2018</option>
            <option value="">2019</option>
            <option value="">2020</option>
        </select>
        <button type="submit">Xem</button>


    </div>
    <div class="list-category">
        <div class="row row-top">
            <div class="item-top item-1">
                <a href="#"> <img src="assets/image/news-category-1.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3>Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền gạch đầu tử vong,
                            hung thủ bị điều tra về hành vi"Cố ý gây thương tích"
                            <span class="highlight">Nổi bật</span>
                        </h3>
                    </a>
                </div>

            </div>
            <div class="item-top item-2">
                <a href="#"> <img src="assets/image/news-category-2.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3> Cấu chuyện "Cô gái chờ bạn trai suốt đêm ngoài đường rồi bất ngờ
                            bỏ đi để lại túi xách giấy tờ" khiến cư dân mạng trổ tài thám tử
                            <span class="highlight">Nổi bật</span>
                        </h3>
                    </a>

                </div>

            </div>
            <div class="item-top item-3">
                <a href="#"> <img src="assets/image/news-category-3.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3> Vụ thi thể bị trói chân tay nổi trên sông ở Đà Nẵng:
                            Nạn nhân làm nghề cho vay tiền
                            <span> - 47 phút trước</span>
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row row-bottom">
            <div class="item-bot item-4">
                <a href="#"> <img src="assets/image/news-category-4.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3>Quảng Ninh: Sét đánh khiến toàn bộ điện lưới đảo Cô Tô mất điện kéo dài
                            <span> - 01 giờ trước</span>
                        </h3>
                    </a>
                </div>
            </div>
            <div class="item-bot item-5">
                <a href="#"> <img src="assets/image/news-category-5.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3>Khối u quái có răng, tóc, xương trong buồng trứng bé gái <span> - 01 giờ trước</span></h3>
                    </a>
                </div>
            </div>
            <div class="item-bot item-6">
                <a href="#"> <img src="assets/image/news-category-6.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3>Người thân hai thiếu nữ tử vong mang tài đến trụ sở công an huyện
                            <span> - 01 phút trước</span>
                        </h3>
                    </a>
                </div>
            </div>

        </div>
    </div>
<!-- /build:news-category -->
<!-- build:news-list-3-style -->
<link rel="stylesheet" href="assets/css/new-list-3-style.css">
<!-- /build:news-list-3-style -->


<!-- build:news-list-3 -->
    <div class="head">
        <h1>THỜI SỰ</h1>
    </div>
    <div class="content">
        <a href="#"><img src="assets/image/news-list-3-stt1.png" alt="anh"></a>
        <a href="#"><h2>Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu</h2></a>
    </div>
    <hr>
    <div class="item">
        <div class="item-1">
            <a href="#"><img src="assets/image/news-list-3-stt2.png" alt="anh"></a>
            <a href="#">
                <span>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</span>
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="item-2">
            <a href="#"><img src="assets/image/news-list-3-stt3.png" alt="anh"></a>
            <a href="#">
                <span>Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền...</span>
            </a>
        </div>
    </div>
<!-- /build:news-list-3 -->

<!-- build:news-list-style -->
    
<link rel="stylesheet" href="assets/css/news-list.css">
<!-- /build:news-list-style -->

<!-- build:news-list -->
<div class="news">
    <div class="left">
        <img src="assets/image/news-list.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Những gương mặt thử khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một con
                số!
            </a>
        </div>
        <div class="meta">
            <a href="#">Học đường <span>
                - 3 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau khi ...
        </div>
    </div>
    <hr>
    <div class="clearfix"></div>
    <div class="left">
        <img src="assets/image/news-list-anh2.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo
            </a>
        </div>
        <div class="meta">
            <a href="#">Sport <span>
                - 4 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Tiền đạo Nordin Amrabat cáo buộc trọng tài Mark Geiger có hành động ngỏ
            ý xin áo đấu của Cristiano Ronaldo trong hiệp 1 ...
        </div>
    </div>
   
</div>
<!-- /build:news-list -->
<!-- build:playlist-style -->
    <link rel="stylesheet" href="assets/css/playlist-style.css">
<!-- /build:playlist-style -->

<!-- build:playlist -->
    <div class="contain">
        <div class="image-left">
            <img src="assets/image/playlist-1.png" alt="anh">
        </div>
        <div class="right">
            <div class="title">
                <i class="fas fa-play-circle"></i>
                <a href="#">
                    <span>Mutex</span>
                </a>
            </div>
            <div class="item">
                <div class="list-item item-1">
                    <a href="#">
                        <img src="assets/image/playlist_stt1.png" alt="">
                        <span>Sóc Sơn: Cháy chợ lớn, 1000 mét vuông chợ bị thiêu rụi</span>
                    </a>
                    <div class="danNgang">
                        <a href="#">2 giờ trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="list-item item-2">
                    <a href="#"><img src="assets/image/playlist_stt2.png" alt="">
                        <span>Bảo Thy: Tiền thu nhạc chuông, nhạc chờ cách đây 10 năm đã là 2 tỷ</span>
                    </a>

                    <div class="danNgang">
                        <a href="#">2 giờ trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="list-item item-3">
                    <a href="#"><img src="assets/image/playlist_stt3.png" alt="">
                        <span>Kim Woo Bin đã bình phục trở lại sau 1 năm điều trị ung thư</span>

                    </a>
                    <div class="danNgang">
                        <a href="#">2 giờ trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="list-item item-4">
                    <a href="#"><img src="assets/image/playlist_stt4.png" alt="">
                        <span>Khi vợ cấm đi xem World Cup thì...</span>
                    </a>
                    <div class="danNgang">
                        <a href="#">2 giờ trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /build:playlist -->
<!-- build:step2-style -->
<link rel="stylesheet" href="assets/css/step2-style.css">
<!-- /build:step2-style -->

<!-- build:step2 -->
<div class="news">
    <div class="left">
        <img src="assets/image/news-list.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Những gương mặt thử khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một con
                số!
            </a>
        </div>
        <div class="meta">
            <a href="#">Học đường <span>
                - 3 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau khi ...
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="clearfix"></div>
    <div class="left">
        <img src="assets/image/news-list-anh2.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo
            </a>
        </div>
        <div class="meta">
            <a href="#">Sport <span>
                - 4 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Tiền đạo Nordin Amrabat cáo buộc trọng tài Mark Geiger có hành động ngỏ
            ý xin áo đấu của Cristiano Ronaldo trong hiệp 1 ...
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="clearfix"></div>
    <div class="left">
        <img src="assets/image/step2-anh3.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Quán phở gia truyền 100 năm của Hà Nội bất ngờ được quảng cáo trên kênh du lịch ESB nổi tiếng của Hàn Quốc
            </a>
        </div>
        <div class="meta">
            <a href="#">Ăn cả thế giới  <span>
                - 4 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Hình ảnh phở Việt Nam ngày càng nhận được sự yêu mến của bạn bè quốc tế, 
            và đó chính là một niềm tự hào rất đáng ... 
        </div>
    </div>
    <div class="clearfix"></div>    
    <hr>
    <div class="clearfix"></div>
    <div class="left">
        <img src="assets/image/step2-anh4.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Lục lại gia tài 10 diễn viên"Lord of the Rings" trở thành báu vật của Hollywood
            </a>
        </div>
        <div class="meta">
            <a href="#">Ciné <span>
                - 4 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Nhiều diễn viên đã trở nên nổi tiếng nhờ loạt phim"Lord of the Rings"
             nhưng ai mới là báu vật thật sự trong đời sống
        </div>
    </div>
</div>
<!-- /build:step2 -->
<!-- build:step8-style -->
<link rel="stylesheet" href="assets/css/step8-style.css">
    <title>Step8</title>
<!-- /build:step8-style -->



<!-- build:step8 -->
    <div class="right">
        
        <div class="item">
            <div class="list-item item-1">
                <a href="#">
                    <img src="assets/image/playlist_stt1.png" alt="">
                    <span>Sóc Sơn: Cháy chợ lớn, 1000 mét vuông chợ bị thiêu rụi</span>
                </a>
                <div class="danNgang">
                    <a href="#">2 giờ trước</a>
                    <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="clearfix"></div>
            <div class="list-item item-2">
                <a href="#"><img src="assets/image/playlist_stt2.png" alt="">
                    <span>Bảo Thy: Tiền thu nhạc chuông, nhạc chờ cách đây 10 năm đã là 2 tỷ</span>
                </a>

                <div class="danNgang">
                    <a href="#">2 giờ trước</a>
                    <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="clearfix"></div>
            <div class="list-item item-3">
                <a href="#"><img src="assets/image/playlist_stt3.png" alt="">
                    <span>Kim Woo Bin đã bình phục trở lại sau 1 năm điều trị ung thư</span>

                </a>
                <div class="danNgang">
                    <a href="#">2 giờ trước</a>
                    <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="clearfix"></div>
            <div class="list-item item-4">
                <a href="#"><img src="assets/image/playlist_stt4.png" alt="">
                    <span>Khi vợ cấm đi xem World Cup thì...</span>
                </a>
                <div class="danNgang">
                    <a href="#">2 giờ trước</a>
                    <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                </div>
            </div>
        </div>
    </div>
<!-- /build:step8 -->
<!-- build:step9-style -->
    <link rel="stylesheet" href="assets/css/step9-style.css">
<!-- /build:step9-style -->

<!-- build:step9 -->
    <div class="head">
        <img src="assets/image/step9-clock.png" alt="anh">
        <h1>TIN MỚI NHẤT</h1>
        <button class="up"><i class="fas fa-caret-up"></i></button>
        <button class="down"><i class="fas fa-caret-down"></i></button>
    </div>
    <div class="clearfix"></div>
        <!-- <table>
            <tbody>
                <tr>
                    <td>
                        <th class="time">13:00</th>
                        <th class="content">6 tháng sau vụ "13 đứa trẻ nhà Turpin": Cặp vợ chồng quỷ dữ ra hầu tòa, 13
                            người con đều đang hồi phục tốt</th>
                    </td>
                </tr>
                <tr>
                    <td>
                        <th class="time">13:30</th>
                        <th>Đến hẹn lại lên, gà YG lại bị KBS " cấm cửa" và Black Pink cũng không thoát</th>
                    </td>
                </tr>
                <tr>
                    <td>
                        <th class="time">12:59</th>
                        <th class="content">Triệt phá ổ mại dâm núp bóng quán cà phê do ông " trùm" U60 cầm đầu</th>
                    </td>
                </tr>
                <tr>
                    <td>
                        <th class="time">12:55</th>
                        <th class="content">18 items dễ mặc, trendy giá từ 149k - 499k đáng mua nhất trong đợt 
                            sale lớn nhất năm của Zara Việt Nam</th>
                    </td>
                </tr>
                <tr>
                    <td>
                        <th class="time">12:30</th>
                        <th class="content">Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</th>
                    </td>
                </tr>
            </tbody>
        </table> -->
    <div class="scroll-table" id="style-1">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>13:00</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>6 tháng sau vụ "13 đứa trẻ nhà Turpin": Cặp vợ chồng quỷ dữ ra hầu tòa, 13
                                        người con đều đang hồi phục tốt
                                    </p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>13:00</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>Đến hẹn lại lên, gà YG lại bị KBS " cấm cửa" và Black Pink cũng không thoát</p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>12:59</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>Triệt phá ổ mại dâm núp bóng quán cà phê do ông " trùm" U60 cầm đầu</p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>12:30</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>18 items dễ mặc, trendy giá từ 149k - 499k đáng mua nhất trong đợt
                                        sale lớn nhất năm của Zara Việt Nam</p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>12:30</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>12:10</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>Đến hẹn lại lên, gà YG lại bị KBS " cấm cửa" và Black Pink cũng không thoát</p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<!-- /build:step9 -->