@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(2804px, 84px);
    box-sizing: border-box;
    font-size: 12px;
    font-family: $myFont;
    margin: 0;
    padding: 0;
}
a {
    @include tagA( rgb(255,255,255));
}

ul {
    margin-top: 0px;
    border-top: 1px solid rgb(238, 164, 59) ;
    display: block;
    background-color: rgb(165, 18, 32);
    overflow: hidden;
    text-align: center;
    padding-left: 15%;
    font-weight: bold;
    li {
        img {
            height: 30px;
        }
        float: left;
        list-style: none;
        text-align: center;
        padding-left: 20px;
        padding-top: 5px;
        
    }
    .item{
        padding-top: 12px;
    }
    .item-v{
        padding-top: 10px;
    }
    
}
