@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(329px, auto);
    max-width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    font-family: $myFont;
    margin: 20px;
    padding: 0;
}
a {
    @include tagA(rgb(34, 34, 34));
    font-weight: bold;
}
.head{
   
    border-left: 5px solid rgb(252, 97, 41);
    padding-left: 10px;
}
.content{
    img{
        width: 320px;
    }
    h3{
        font-weight: 800;
    }
}
.item{
    margin-top: 20px;
    img{
        float: left;
        width: 70px;
    }
    span{
        font-size: 14px;
        margin-top: 25px;
        margin-left: 85px;
        display: block;
        position: relative;
    }
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
hr{
    opacity: 0.3;
    margin-top: 40px;
}