@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(900px, 1140px);
    box-sizing: border-box;
    font-size: 12px;
    font-family: $myFont;
    margin: 10px;
    padding: 0;
}
a {
    @include tagA(rgb(34, 34, 34));
}
.header {
    width: 100%;
    font-size: 15px;
    padding-left: 10px;
    .title {
        display: inline-block;
        border-left: 5px solid rgb(249, 108, 52);
        padding-left: 10px;

        font-weight: bold;
    }
    label {
        color: rgb(85, 85, 85);
    }
    select {
        margin-left: 7px;
        padding-left: 5px;
        border-radius: 4px;
        height: 25px;
        color: rgb(85, 85, 85);
    }
    button {
        background-color: rgb(119, 119, 119);
        color: rgb(255, 255, 255);
        height: 26px;
        border-radius: 4px;
        border: none;
        width: 65px;
        font-weight: bolder;
    }
}
.list-category {
    width: 100%;
    .row {
        width: 100%;
        margin-top: 10px;
        .item-top {
            width: 25.2%;
            margin: 10px 35px 0px 10px;
            float: left;
            
        }
        .item-bot {
            float: left;
            width: 25.2%;
            margin: 10px 35px 0px 10px;
        }
        .content{
            line-height: 20px;
            font-size: 12.8px;
            .highlight{
                padding: 3px;
                background-color: rgb(156, 167, 182);
                color: rgb(255, 255, 255);
                font-weight: 400;
                font-size: 12px;
                border-radius: 3px;
            }
            span{
               color: rgb(138, 138, 138);
               font-weight: 400;
               font-size: 12px;
            }
        }
    }
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
