@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;
$mycolor: rgb(85, 85, 85);
$color_back: rgb(51, 51, 51);

body {
    @include body(800px, auto);
    font-family: $myFont;
    margin: 10px 0px 10px 10px;
    line-height: 1.6;
}
a {
    @include tagA(rgb(34, 34, 34));
    
}
.news {
    .left {
        float: left;
        img{
            width: 300px;
        }
    }
    .content {
        margin-left: 40%;
        
        .title {
            a {
                font-weight: bold;
                font-size: 20px;
                color: $color_back;
                font-weight: bold;
            }
        }
        .meta {
            margin-top: 10px;
            a{
                font-weight: bold;
                color: rgb(65, 69, 93);
                span {
                    color: $mycolor;
                     font-size: 16px;
                     font-weight: 400;
                 }
                
            }
            
        }
        .detail{
            margin-top: 10px;
            color: $mycolor;
            font-size: 14px;
        }

    }
}

.clearfix{
    content: " ";
    display: table;
    clear: both;
}
hr{
    opacity: 0.3;
    margin-top: 50px;
    margin-bottom: 30px;
}