@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;


body {
    @include body(900px, auto);
    font-family: $myFont;
    margin: 10px 0px 10px 10px;
    line-height: 1.6;

    font-size: 10px;
}
a {
    @include tagA(rgb(34, 34, 34));
}
.contain{
    .image-left{
        float: left;
        img{
            width: 400px;
        }
    }
    .right{
        float: left;
        width: 35%;
        .title{
            padding-left: 20px;
            background-color: rgb(229, 229, 232);
            i{
                float: left;
                font-size: 25px;
                padding-top: 10px;
            }
            span{
                font-size: 30px;
                font-weight: 900;
                padding-left: 10px;
                text-decoration: 5px underline solid rgb(41, 247, 150);
            }
        }
        .item{
            
            .list-item{
                opacity: 0.5;
                padding-left: 20px; 
                padding-top: 10px;
                padding-bottom: 20px;
                
            }
            .list-item:hover{
                background-color: rgb(241, 241, 241);
                opacity: 1;
            }
            a{
                img{
                    float: left;
                    width: 18%;
                    padding-right: 10px;
                }
                span{
                    font-size: 13px;
                    font-weight: 700;
                }
                
            }
            .danNgang{
                color: rgb(148, 148, 148);
                a{
                    color: rgb(148, 148, 148);
                    float: left;
                }
            }
        }
    }
    
}
.item-1{
    border-right: 5px solid rgb(216, 216, 216);
}
.clearfix{
    content: " ";
    display: table;
    clear: both;
}