@import "include/_body";
@import "include/_tagA";
$myFont: Arial, Helvetica, sans-serif;


body {
    @include body(390px, auto);
    font-family: $myFont;
    margin: 10px 0px 10px 10px;
    line-height: 1.6;

    font-size: 10px;
}
a {
    @include tagA(rgb(34, 34, 34));
}

    .right{
        float: left;
        width: 100%;
        
        .item{
            padding: 20px;
            .list-item{
                opacity: 0.5;
                padding-left: 20px; 
                padding-top: 10px;
                padding-bottom: 20px;
                padding-right: 20px;
                
            }
            .list-item:hover{
                background-color: rgb(241, 241, 241);
                opacity: 1;
            }
            .item-4{
                padding-bottom: 30px;
            }
            a{
                img{
                    float: left;
                    width: 20%;
                    padding-right: 10px;
                }
                span{
                    font-size: 13px;
                    font-weight: 700;
                }
                
            }
            .danNgang{
                color: rgb(148, 148, 148);
                a{
                    color: rgb(148, 148, 148);
                    float: left;
                }
            }
        }
    }
    

.clearfix{
    content: " ";
    display: table;
    clear: both;
}
hr{
    opacity: 0.3;
    margin-top: 10px;
    margin-bottom: 10px;
}