@import "include/_body";
@import "include/_tagA";
$netDut: 1px dotted #c7c6c6;
$myFont: Arial, Helvetica, sans-serif;

body {
    @include body(276px, 403px);
    font-family: $myFont;
    margin: 10px 0px 10px 10px;
    line-height: 1.6;
    font-size: 10px;
}
a {
    @include tagA(rgb(34, 34, 34));
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
.head {
    img {
        width: 25px;
        float: left;
    }
    h1 {
        margin-top: 0;
        float: left;
        padding: 0px 10px 10px 0px;
    }
    button {
        margin-top: 4px;
        border: none;
        border-radius: 3px;
        padding: 5px 15px 5px 15px;
        margin-right: 5px;
        background-color: rgb(218, 218, 218);
        i {
            font-size: 19px;
        }
    }
    .up {
        background-color: rgb(244, 244, 244);
        color: rgb(214, 214, 214);
    }
    button:hover {
        background-color: rgb(244, 244, 244);
        color: rgb(214, 214, 214);
    }
}
#left {
    border-right: $netDut;
    float: left;
    width: 34px;
    padding-bottom: 27px;
    p {
        color: orangered;
    }
}
#right {
    p {
        margin-top: 1px;
        color: black;
    }
    float: right;
    width: 185px;
    font-weight: 700;
    line-height: 16.5px;
    padding-right: 4px;
}
// .scroll-table {
//     font-size: 14px;
//     height: 365px;
//     overflow-y: auto;
//     border: 1px solid rgb(150, 130, 130);
//     border-radius: 3px;

//     table {
//         background-color: rgb(255, 249, 243);
//         .time {
//             border-right: 1px dashed rgb(194, 194, 194);
//             color: rgb(253, 134, 84);
//             font-weight: 400;
//         }
//         tr {
//             border-bottom: 1px dashed rgb(194, 194, 194);
//         }
//     }
// }
.list_hour {
    height: 45px;
    border-bottom: $netDut;
    font-family: $myFont;
    font-size: 11px;
    padding-bottom: 30px;
}
a {
    text-decoration: none;
    display: block;
}
.wrap {
    width: 261px;
}
.wrap table {
    table-layout: fixed;
    width: 100%;
}
.wrap table.head {
    width: calc(100% - 15px);
}
.wrap table.head tr td {
    background: #eee;
}

table tr td {
    padding: 5px;
    word-wrap: break-word;
}

.scroll-table {
    height: 365px;
    overflow-y: scroll;
    border: 1px solid rgb(150, 130, 130);
    border-radius: 3px;
}
#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(229, 224, 218);
    border-radius: 5px;
    
}
table{
    min-height: 450px;
}
#style-1::-webkit-scrollbar-thumb {
    background-color: rgb(206, 201, 196);
    border-radius: 5px;
}