<!-- build:menu1-style -->
    <link rel="stylesheet" href="assets/css/menu1-style.css">
<!-- /build:menu1-style -->

<!-- build:menu1 -->
    <div class="menu">
        <ul>
            <li>
                <img src="assets/image/menu1-icon.png" alt="icon">
            </li>
            <li class="item"><a href="#">Star</a></li>
            <li class="item"><a href="#">TVShow</a></li>
            <li class="item"><a href="#">Ciné</a></li>
            <li class="item"><a href="#">Musik</a></li>
            <li class="item"><a href="#">Fashion</a></li>
            <li class="item"><a href="#">Đời sống</a></li>
            <li class="item"><a href="#">Ăn cả thế giới</a></li>
            <li class="item"><a href="#">Xã hội</a></li>
            <li class="item"><a href="#">Thế giới</a></li>
            <li class="item"><a href="#">Sport</a></li>
            <li class="item"><a href="#">Học đường</a></li>
            <li class="item"><a href="#">Video</a></li>
            <li class="item-v" style="font-weight: 900;"><a href="#">. . .</a></li>
        </ul>
    </div>
<!-- /build:menu1 -->