<!-- build:menu3-style -->
    <link rel="stylesheet" href="assets/css/menu3-style.css">
<!-- /build:menu3-style -->

<!-- build:menu3 -->
    <div class="menu-list">
        <div class="list">
            <ul>
                <li> <a id="home" href="#"><i class="fas fa-home" style="font-size: 17px;"></i></a></li>
                <li> <a href="#">Video</a></li>
                <li> <a href="#">Sự kiện</a></li>
                <li> <a href="#">Xã hội</a></li>
                <li> <a href="#">Thế giới</a></li>
                <li> <a href="#">Thể thao</a></li>
                <li> <a href="#">Giáo dục</a></li>
                <li> <a href="#">Nhân ái</a></li>
                <li> <a href="#">Kinh doanh</a></li>
                <li> <a href="#">Văn hóa</a></li>
                <li> <a href="#">Giải trí</a></li>
                <li> <a href="#">Du lịch</a></li>
                <li> <a href="#">Pháp luật</a></li>
                <li> <a href="#">Nhịp sống trẻ</a></li>
                <li> <a href="#">Sức khỏe</a></li>
                <li> <a href="#">Sức mạnh số</a></li>
                <li> <a href="#">Xe++</a></li>
                <li> <a href="#">Tình yêu</a></li>
                <li> <a href="#">Chuyện lạ</a></li>
            </ul>
        </div>
    </div>
<!-- /build:menu3 -->