<!-- build:news-list-style -->
    
<link rel="stylesheet" href="assets/css/news-list.css">
<!-- /build:news-list-style -->

<!-- build:news-list -->
<div class="news">
    <div class="left">
        <img src="assets/image/news-list.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Những gương mặt thử khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một con
                số!
            </a>
        </div>
        <div class="meta">
            <a href="#">Học đường <span>
                - 3 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau khi ...
        </div>
    </div>
    <hr>
    <div class="clearfix"></div>
    <div class="left">
        <img src="assets/image/news-list-anh2.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo
            </a>
        </div>
        <div class="meta">
            <a href="#">Sport <span>
                - 4 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Tiền đạo Nordin Amrabat cáo buộc trọng tài Mark Geiger có hành động ngỏ
            ý xin áo đấu của Cristiano Ronaldo trong hiệp 1 ...
        </div>
    </div>
   
</div>
<!-- /build:news-list -->