<!-- build:news-category-style -->
<link rel="stylesheet" href="assets/css/news-category-style.css">
<!-- /build:news-category-style -->


<!-- build:news-category-->
    <div class="header">
        <h1 class="title">
            TIN CÙNG CHUYÊN MỤC
        </h1>

        <label for="lable-date">Xem theo ngày</label>
        <select name="day" id="day">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
            <option value="">8</option>
            <option value="">9</option>
            <option value="">10</option>
            <option value="">11</option>
            <option value="">12</option>
            <option value="">13</option>
            <option value="">14</option>
            <option value="">15</option>
            <option value="">16</option>
            <option value="">17</option>
            <option value="">18</option>
            <option value="">19</option>
            <option value="">20</option>
            <option value="">21</option>
            <option value="">22</option>
            <option value="">23</option>
            <option value="">24</option>
            <option value="">25</option>
            <option value="">26</option>
            <option value="">27</option>
            <option value="">28</option>
            <option value="">29</option>
            <option value="">30</option>
            <option value="">31</option>
        </select>
        <select name="month" id="month">
            <option value="">Tháng 1</option>
            <option value="">Tháng 2</option>
            <option value="">Tháng 3</option>
            <option value="">Tháng 4</option>
            <option value="">Tháng </option>
            <option value="">Tháng 5</option>
            <option value="">Tháng 6</option>
            <option value="">Tháng 7</option>
            <option value="">Tháng 8</option>
            <option value="">Tháng 9</option>
            <option value="">Tháng 10</option>
            <option value="">Tháng 11</option>
            <option value="">Tháng 12</option>
        </select>
        <select name="year" id="year">
            <option value="">2018</option>
            <option value="">2019</option>
            <option value="">2020</option>
        </select>
        <button type="submit">Xem</button>


    </div>
    <div class="list-category">
        <div class="row row-top">
            <div class="item-top item-1">
                <a href="#"> <img src="assets/image/news-category-1.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3>Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền gạch đầu tử vong,
                            hung thủ bị điều tra về hành vi"Cố ý gây thương tích"
                            <span class="highlight">Nổi bật</span>
                        </h3>
                    </a>
                </div>

            </div>
            <div class="item-top item-2">
                <a href="#"> <img src="assets/image/news-category-2.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3> Cấu chuyện "Cô gái chờ bạn trai suốt đêm ngoài đường rồi bất ngờ
                            bỏ đi để lại túi xách giấy tờ" khiến cư dân mạng trổ tài thám tử
                            <span class="highlight">Nổi bật</span>
                        </h3>
                    </a>

                </div>

            </div>
            <div class="item-top item-3">
                <a href="#"> <img src="assets/image/news-category-3.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3> Vụ thi thể bị trói chân tay nổi trên sông ở Đà Nẵng:
                            Nạn nhân làm nghề cho vay tiền
                            <span> - 47 phút trước</span>
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row row-bottom">
            <div class="item-bot item-4">
                <a href="#"> <img src="assets/image/news-category-4.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3>Quảng Ninh: Sét đánh khiến toàn bộ điện lưới đảo Cô Tô mất điện kéo dài
                            <span> - 01 giờ trước</span>
                        </h3>
                    </a>
                </div>
            </div>
            <div class="item-bot item-5">
                <a href="#"> <img src="assets/image/news-category-5.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3>Khối u quái có răng, tóc, xương trong buồng trứng bé gái <span> - 01 giờ trước</span></h3>
                    </a>
                </div>
            </div>
            <div class="item-bot item-6">
                <a href="#"> <img src="assets/image/news-category-6.png" alt="anh" width="227px" height="143px"></a>
                <div class="content">
                    <a href="#">
                        <h3>Người thân hai thiếu nữ tử vong mang tài đến trụ sở công an huyện
                            <span> - 01 phút trước</span>
                        </h3>
                    </a>
                </div>
            </div>

        </div>
    </div>
<!-- /build:news-category -->