<!-- build:news-list-3-style -->
<link rel="stylesheet" href="assets/css/new-list-3-style.css">
<!-- /build:news-list-3-style -->


<!-- build:news-list-3 -->
    <div class="head">
        <h1>THỜI SỰ</h1>
    </div>
    <div class="content">
        <a href="#"><img src="assets/image/news-list-3-stt1.png" alt="anh"></a>
        <a href="#"><h2>Triệt phá ổ mại dâm núp bóng quán cà phê do ông "trùm" U60 cầm đầu</h2></a>
    </div>
    <hr>
    <div class="item">
        <div class="item-1">
            <a href="#"><img src="assets/image/news-list-3-stt2.png" alt="anh"></a>
            <a href="#">
                <span>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</span>
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="item-2">
            <a href="#"><img src="assets/image/news-list-3-stt3.png" alt="anh"></a>
            <a href="#">
                <span>Vĩnh Long: Bé gái 4 tuổi bị bạn của bố dùng tay đánh đập xuống nền...</span>
            </a>
        </div>
    </div>
<!-- /build:news-list-3 -->
