<!-- build:playlist-style -->
    <link rel="stylesheet" href="assets/css/playlist-style.css">
<!-- /build:playlist-style -->

<!-- build:playlist -->
    <div class="contain">
        <div class="image-left">
            <img src="assets/image/playlist-1.png" alt="anh">
        </div>
        <div class="right">
            <div class="title">
                <i class="fas fa-play-circle"></i>
                <a href="#">
                    <span>Mutex</span>
                </a>
            </div>
            <div class="item">
                <div class="list-item item-1">
                    <a href="#">
                        <img src="assets/image/playlist_stt1.png" alt="">
                        <span>Sóc Sơn: Cháy chợ lớn, 1000 mét vuông chợ bị thiêu rụi</span>
                    </a>
                    <div class="danNgang">
                        <a href="#">2 giờ trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="list-item item-2">
                    <a href="#"><img src="assets/image/playlist_stt2.png" alt="">
                        <span>Bảo Thy: Tiền thu nhạc chuông, nhạc chờ cách đây 10 năm đã là 2 tỷ</span>
                    </a>

                    <div class="danNgang">
                        <a href="#">2 giờ trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="list-item item-3">
                    <a href="#"><img src="assets/image/playlist_stt3.png" alt="">
                        <span>Kim Woo Bin đã bình phục trở lại sau 1 năm điều trị ung thư</span>

                    </a>
                    <div class="danNgang">
                        <a href="#">2 giờ trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="list-item item-4">
                    <a href="#"><img src="assets/image/playlist_stt4.png" alt="">
                        <span>Khi vợ cấm đi xem World Cup thì...</span>
                    </a>
                    <div class="danNgang">
                        <a href="#">2 giờ trước</a>
                        <span class="luotXem" style="margin-left: 2px;"> - 7k lượt xem</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /build:playlist -->