<!-- build:step9-style -->
    <link rel="stylesheet" href="assets/css/step9-style.css">
<!-- /build:step9-style -->

<!-- build:step9 -->
    <div class="head">
        <img src="assets/image/step9-clock.png" alt="anh">
        <h1>TIN MỚI NHẤT</h1>
        <button class="up"><i class="fas fa-caret-up"></i></button>
        <button class="down"><i class="fas fa-caret-down"></i></button>
    </div>
    <div class="clearfix"></div>
        <!-- <table>
            <tbody>
                <tr>
                    <td>
                        <th class="time">13:00</th>
                        <th class="content">6 tháng sau vụ "13 đứa trẻ nhà Turpin": Cặp vợ chồng quỷ dữ ra hầu tòa, 13
                            người con đều đang hồi phục tốt</th>
                    </td>
                </tr>
                <tr>
                    <td>
                        <th class="time">13:30</th>
                        <th>Đến hẹn lại lên, gà YG lại bị KBS " cấm cửa" và Black Pink cũng không thoát</th>
                    </td>
                </tr>
                <tr>
                    <td>
                        <th class="time">12:59</th>
                        <th class="content">Triệt phá ổ mại dâm núp bóng quán cà phê do ông " trùm" U60 cầm đầu</th>
                    </td>
                </tr>
                <tr>
                    <td>
                        <th class="time">12:55</th>
                        <th class="content">18 items dễ mặc, trendy giá từ 149k - 499k đáng mua nhất trong đợt 
                            sale lớn nhất năm của Zara Việt Nam</th>
                    </td>
                </tr>
                <tr>
                    <td>
                        <th class="time">12:30</th>
                        <th class="content">Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</th>
                    </td>
                </tr>
            </tbody>
        </table> -->
    <div class="scroll-table" id="style-1">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>13:00</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>6 tháng sau vụ "13 đứa trẻ nhà Turpin": Cặp vợ chồng quỷ dữ ra hầu tòa, 13
                                        người con đều đang hồi phục tốt
                                    </p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>13:00</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>Đến hẹn lại lên, gà YG lại bị KBS " cấm cửa" và Black Pink cũng không thoát</p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>12:59</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>Triệt phá ổ mại dâm núp bóng quán cà phê do ông " trùm" U60 cầm đầu</p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>12:30</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>18 items dễ mặc, trendy giá từ 149k - 499k đáng mua nhất trong đợt
                                        sale lớn nhất năm của Zara Việt Nam</p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>12:30</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list_hour">
                            <section id="left">
                                <a href="#">
                                    <p>12:10</p>
                                </a>
                            </section>
                            <aside id="right">
                                <a href="#">
                                    <p>Đến hẹn lại lên, gà YG lại bị KBS " cấm cửa" và Black Pink cũng không thoát</p>
                                </a>
                            </aside>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<!-- /build:step9 -->