<!-- build:step2-style -->
<link rel="stylesheet" href="assets/css/step2-style.css">
<!-- /build:step2-style -->

<!-- build:step2 -->
<div class="news">
    <div class="left">
        <img src="assets/image/news-list.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Những gương mặt thử khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một con
                số!
            </a>
        </div>
        <div class="meta">
            <a href="#">Học đường <span>
                - 3 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau khi ...
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="clearfix"></div>
    <div class="left">
        <img src="assets/image/news-list-anh2.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Cầu thủ Morocco tố trọng tài lén lút xin áo đấu của Ronaldo
            </a>
        </div>
        <div class="meta">
            <a href="#">Sport <span>
                - 4 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Tiền đạo Nordin Amrabat cáo buộc trọng tài Mark Geiger có hành động ngỏ
            ý xin áo đấu của Cristiano Ronaldo trong hiệp 1 ...
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="clearfix"></div>
    <div class="left">
        <img src="assets/image/step2-anh3.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Quán phở gia truyền 100 năm của Hà Nội bất ngờ được quảng cáo trên kênh du lịch ESB nổi tiếng của Hàn Quốc
            </a>
        </div>
        <div class="meta">
            <a href="#">Ăn cả thế giới  <span>
                - 4 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Hình ảnh phở Việt Nam ngày càng nhận được sự yêu mến của bạn bè quốc tế, 
            và đó chính là một niềm tự hào rất đáng ... 
        </div>
    </div>
    <div class="clearfix"></div>    
    <hr>
    <div class="clearfix"></div>
    <div class="left">
        <img src="assets/image/step2-anh4.png" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Lục lại gia tài 10 diễn viên"Lord of the Rings" trở thành báu vật của Hollywood
            </a>
        </div>
        <div class="meta">
            <a href="#">Ciné <span>
                - 4 giờ trước
            </span></a>
            
        </div>
        <div class="detail">
            Nhiều diễn viên đã trở nên nổi tiếng nhờ loạt phim"Lord of the Rings"
             nhưng ai mới là báu vật thật sự trong đời sống
        </div>
    </div>
</div>
<!-- /build:step2 -->